body{
  background-color: orangered;
  background-image: linear-gradient(orangered, orange);
  width: 100%;
  height: 614px;
    margin:0px;
    padding:0px;
  /* background-image: linear-gradient(orange, orangered); */
}

